<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Star Map</title>
    <script src="../../lib/d3.min.js"></script>
    <script type="text/javascript" src="../../lib/d3.geo.projection.min.js"></script>
    <script type="text/javascript" src="celestial.js"></script>
    <style>
    
    </style>
</head>
<body>
    <div style="overflow: hidden; margin: 0 auto">
    <div id="celestial-map"></div>
    </div>

    <script>
      window.initStarMap = (initConfigStr) => {
        console.log(initConfigStr)
        const initConfig = JSON.parse(initConfigStr);


        Celestial.display(initConfig);
        Celestial.date(initConfig.date ? new Date(initConfig.date) : new Date())
      }

      var lastDate = 0;
      var lastLocation = 0;
      var lastWidth = 0;
      var lastOptions = 0;
      var idSetTimeout = 0;

      window.editStartMap = (config) => {

        const { date, location, width, ...options } = JSON.parse(config);

        if(JSON.stringify(lastDate) !== JSON.stringify(date) || JSON.stringify(lastLocation) !== JSON.stringify(location)) {
          Celestial.skyview({
            date: date ? new Date(date) : new Date(), 
            location
          });

          lastDate = date;
          lastLocation = location;
        }

        if(JSON.stringify(lastWidth) !== JSON.stringify(width)) {
          Celestial.resize({ width })

          lastWidth = width
        }

        if(JSON.stringify(lastOptions) !== JSON.stringify(options)) {
          Celestial.apply(options)

          lastOptions = options
        }
        
      };
    </script>
</body>
</html>
